# Practice Exercises Module 5
## Beija Richardson 4/18/2025

## From Think Python,   Chapter 10,  

10.11.2

Use get to write a more concise version of value_counts. You should be able to eliminate the if statement.

In [60]:
fruits = ['apple', 'pear', 'banana', 'orange', 'melon', 'pineapple', 'apple', 'banana']

In [62]:
def value_counts(lst):
    counts = {}
    for item in lst:
        counts[item] = counts.get(item, 0) + 1
    return counts

In [64]:
dictionary_ex1 = value_counts(fruits)
print(dictionary_ex1)

{'apple': 2, 'pear': 1, 'banana': 2, 'orange': 1, 'melon': 1, 'pineapple': 1}

10.11.4

In [67]:
def find_repeats(counter):
    """Makes a list of keys with values greater than 1.
    
    counter: dictionary that maps from keys to counts
    
    returns: list of keys
    """

In [69]:
counter = {'apple': 2, 'banana': 3, 'pear': 1, 'orange': 4, 'melon': 1}

repeated_keys = find_repeats(counter)
print(repeated_keys)

None

In [19]:
"file_choose"

'file_choose'

## Learning SQL Problems

6-2

SELECT FirstName, LastName
FROM Customers
WHERE CustomerType = 'Individual'

UNION

SELECT FirstName, LastName
FROM Employees;

6-3

SELECT FirstName, LastName
FROM Customers
WHERE CustomerType = 'Individual'

UNION

SELECT FirstName, LastName
FROM Employees

ORDER BY LastName;

8-1

SELECT COUNT(*) AS TotalAccounts
FROM Account;

8-2

SELECT CustomerID, COUNT(*) AS AccountCount
FROM Account
GROUP BY CustomerID;

10-1

SELECT 
p.product_cd,p.name 
AS ProductName, a.account_id, a.customer_id
FROM Product p
LEFT JOIN Account a
    ON p.product_cd = a.product_cd;